@instagram-color: #5851db;
@facebook-color: #3b5998;
@vkontakte-color: #45668e;

.social-networks {
    .icon-link {
        font-size: x-large;

        i.icon-instagram:before {
            margin-left: 0;
        }
    }

    .icon-link.instagram {
        color: @instagram-color;
    }

    .icon-link.facebook {
        color: @facebook-color;
    }

    .icon-link.vkontakte {
        color: @vkontakte-color;
    }
}
