@background-color-dark: #343a40;
@facebook-color: #3b5998;
@vkontakte-color: #45668e;

#portfolio {
    .social-share {
        .btn-social-share {
            padding: 0;
            font-size: x-large;
            cursor: pointer;
            outline: none;
            border: none;
            background-color: transparent;
        }

        .btn-social-share.facebook {
            color: @facebook-color;
        }

        .btn-social-share.vkontakte {
            color: @vkontakte-color;
        }
    }

    .view-on-instagram {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;

        a {
            display: inline-block;
            background-color: fadeout(@background-color-dark, 50%);
            outline: none;
            opacity: .5;
            width: 100%;

            @media (min-width: 468px) {
                width: 70%;
            }

            &:hover {
                opacity: 1;
            }

            i {
                color: #ffffff;
                font-size: 2rem;
            }
        }
    }

    #carouselPortfolio {
        img {
            width: 100%;

            @media (min-width: 468px) {
                width: 70%;
            }
        }
    }
}
