@background-color-dark: #343a40;
@facebook-color: #3b5998;
@vkontakte-color: #45668e;

#portfolio {
    .social-share {
        .btn-social-share {
            padding: 0;
            font-size: x-large;
            cursor: pointer;
            outline: none;
            border: none;
            background-color: transparent;
        }

        .btn-social-share.facebook {
            color: @facebook-color;
        }

        .btn-social-share.vkontakte {
            color: @vkontakte-color;
        }
    }

    .view-on-instagram {
        display: block;
        position: absolute;
        bottom: 0;
        text-align: center;
        background-color: fadeout(@background-color-dark, 50%);
        outline: none;
        opacity: .5;


        i {
            color: #ffffff;
            font-size: 2rem;
        }

        &:hover {
            opacity: 1;
        }
    }

    .social-likes {
        margin: 0;
        align-items: center;
        justify-content: right;
        font-family: inherit;

        .social-likes__icon {
            display: none;
        }

        .social-likes__button {
            font-size: 1.3rem;
            padding: 0;

            &:active {
                background-color: transparent;
            }

            &:focus {
                background-color: transparent;
            }
        }

        .social-likes__widget {
            border: none;

            &:active {
                background-color: transparent;
            }

            &:focus {
                background-color: transparent;
            }
        }

        .social-likes__widget_facebook {
            color: @facebook-color;
        }

        .social-likes__widget_vkontakte {
            color: @vkontakte-color;
        }

        .social-likes__widget_facebook:hover,
        .social-likes__widget_vkontakte:hover {
            background-color: transparent;
        }
    }
}
