<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh"
          content="0; {{ url }}"/>
    <meta property="og:title"
          content="{{ title }}"/>
    <meta property="og:description"
          content="{{ description }}"/>
    <meta property="og:image"
          content="{{ image }}"/>
    <meta property="og:url"
          content="{{ url }}"/>
    <script type="text/javascript">
        window.location.href = "{{ url }}"
    </script>
    <title>{{ title }}</title>
</head>
<body>
<p>
    <a href="{{ url }}">Перейти на главную страницу</a>
</p>
</body>
</html>