html,
body {
    height: 100%;
}

@import (inline) "../../../node_modules/social-likes-next/lib/social-likes_birman.css";

@import "pages/home";
@import "pages/portfolio";
@import "pages/contacts";

@import "modals/back-call";

@import "notifications/notification";

.scroll-to-top {
    display: block;
    position: relative;
    padding-left: 1rem;
    &:before {
        font-family: "fontello";
        content: "\e804";
        position: absolute;
        left: 0;
        bottom: 2px;
    }
}
