html,
body {
    height: 100%;
}

@import "pages/home";
@import "pages/portfolio";
@import "pages/contacts";

@import "modals/back-call";

@import "notifications/notification";

.scroll-to-top {
    position: fixed;
    top: 1rem;
    right: 1rem;
    visibility: hidden;
    opacity: 0;

    &.visible {
        visibility: visible;
        opacity: .7;

        &:hover {
            opacity: 1;
        }
    }

    .btn {
        outline: none;
    }
}
