{% extends "base.html" %}

<!--  Content  -->
{% block content %}
<div class="container-fluid h-100">

    <!-- Home -->

    <div id="home" class="row h-100">
        <div class="col-sm blackout d-flex flex-column justify-content-between pt-4">

            <!-- Site title -->
            <div class="row">
                <div class="col-sm text-center">
                    <h1 class="site-title">Натяжные потолки от Жени</h1>
                </div>
            </div>

            <!-- Phone -->
            <div class="row">
                <div class="col-sm text-center">
                    <a href="#" class="phone">+7 (912) 6386238</a>
                </div>
            </div>

            <!-- Back call -->
            <div class="row">
                <div class="col-sm text-center">
                    <button type="button" class="back-call btn btn-success btn-lg">
                        <i class="icon-phone"></i>
                        Обратный звонок
                    </button>
                </div>
            </div>

            <!-- Navigation menu -->
            <div class="row">
                <div class="col-sm">
                    <ul class="nav-menu list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="nav-menu-link">О нас</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#portfolio" class="nav-menu-link" @click="scrollToPage">Наши работы</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#contacts" class="nav-menu-link" @click="scrollToPage">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio -->

    <div id="portfolio" class="row py-4">
        <div class="col-md-3"></div>
        <div class="col-sm col-md-6">

            <!-- Page title -->
            <h3 class="mb-4">Наши работы</h3>

            <!-- Photos carousel -->
            <div id="carouselPortfolio" class="carousel slide mb-4" data-ride="carousel" data-interval="false">
                <div class="carousel-inner bg-dark rounded">
                    <template v-for="(image, index) in images">
                        <div class="carousel-item" :class="{ 'active': index === 0 }">
                            <img class="d-block w-75 mx-auto" :src="image.src">
                            <a :href="image.href" target="_blank" class="view-on-instagram w-100"
                               title="Посмотреть в Instagram">
                                <i class="icon-instagram-2"></i>
                            </a>
                        </div>
                    </template>
                </div>
                <a class="carousel-control-prev" href="#carouselPortfolio" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Предыдущая</span>
                </a>
                <a class="carousel-control-next" href="#carouselPortfolio" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Следующая</span>
                </a>
            </div>

            <!-- Social share -->
            <div class="social-share d-flex justify-content-between align-items-center border rounded p-2 mb-3">
                <span class="text-secondary">Расскажите друзьям</span>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <button class="btn-social-share facebook" title="на Facebook">
                            <i class="icon-facebook-rect"></i>
                        </button>
                    </li>
                    <li class="list-inline-item">
                        <button class="btn-social-share vkontakte" title="во ВКонтакте">
                            <i class="icon-vkontakte-rect"></i>
                        </button>
                    </li>
                </ul>
            </div>

            <!-- Top -->
            <a href="#home" class="scroll-top" @click="scrollToPage">Наверх</a>
        </div>
        <div class="col-md-3"></div>
    </div>

    <!-- Contacts -->

    <div id="contacts" class="row py-4 bg-light border border-right-0 border-left-0 border-bottom-0">
        <div class="col-md-3"></div>
        <div class="col-sm col-md-6">
            <div class="row">
                <div class="col-sm">
                    <h3 class="mb-4">Контакты</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="text-secondary">Звоните:</p>
                    <p class="mb-0"><a href="tel:+79126386238">+7 (912) 6386238</a></p>
                    <ul class="messengers list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="icon-link whatsapp" title="Whatsapp">
                                <i class="icon-whatsapp"></i>
                            </a>
                            <a href="#" class="icon-link telegram" title="Telegram">
                                <i class="icon-telegram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 text-sm-right">
                    <p class="text-secondary">Пишите:</p>
                    <p>
                        <a href="mailto:dmitryanufriev@gmail.com">dmitryanufriev@gmail.com</a>
                    </p>
                    <p class="text-secondary">Подписывайтесь:</p>
                    <ul class="social-networks list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="#" class="icon-link instagram" title="Instagram">
                                <i class="icon-instagram-filled"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="icon-link facebook" title="Facebook">
                                <i class="icon-facebook-rect"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="icon-link vkontakte" title="VKontakte">
                                <i class="icon-vkontakte-rect"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <!-- Copyright -->

    <div id="copyright" class="row bg-light">
        <div class="col-md-3"></div>
        <div class="col-sm col-md-6">
            <p class="text-muted mb-0">
                <small>
                    &copy;
                    <a href="mailto:dmitryanufriev@gmail.com" class="text-muted">Dmitry Anufriev</a>
                    2017-2018
                </small>
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}