{% extends "base.html" %}

<!--  Content  -->
{% block content %}
<div class="container h-100">
    <div id="home" class="row h-75">
        <div class="col-sm d-flex flex-column pb-4">
            <div class="title">
                <h1 class="text-center">
                    Натяжные потолки
                    <span style="display: block;">
                        от Жени
                    </span>
                </h1>
            </div>
            <p class="align-self-center mb-auto mt-auto">
                <a href="#" class="callme">
                    +7 (912) 6386238
                </a>
            </p>
            <button type="button" class="btn btn-success btn-lg align-self-center mt-auto">
                Перезвоните мне
            </button>
        </div>
    </div>
    <div id="portfolio" class="row pb-4">
        <div class="col-sm">
            <h3 class="mt-3 mb-4">Наши работы</h3>
            <div class="text-center">
                <img class="img-fluid mx-auto d-block" :src="current" alt="Responsive image">
                <div class="btn-group btn-group-sm pt-3" role="group" aria-label="Просмотр изображений">
                    <button type="button" class="btn btn-success" title="Предыдущая" :disabled="!prev" @click="prev()">
                        <i class="icon-left-open"></i>
                    </button>
                    <button type="button" class="btn btn-success" title="Посмотреть в Instagram" :disabled="!current">
                        <i class="icon-eye"></i>
                    </button>
                    <button type="button" class="btn btn-success" title="Следующая" :disabled="!next" @click="next()">
                        <i class="icon-right-open"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="contacts" class="row pb-4 bg-light border border-right-0 border-left-0 border-bottom-0">
        <div class="col-sm">
            <h3 class="mt-3 mb-4">Контакты</h3>
            <p class="text-secondary">Звоните:</p>
            <p>
                <a href="tel:+79126386238">+7 (912) 6386238</a>
            </p>
            <p class="text-secondary">Пишите:</p>
            <p>
                <a href="mailto:dmitryanufriev@gmail.com">dmitryanufriev@gmail.com</a>
            </p>
            <p class="text-secondary">Подписывайтесь:</p>
            <ul class="social-networks list-inline mb-0">
                <li class="list-inline-item">
                    <a href="#" class="icon-link instagram" title="Instagram">
                        <i class="icon-instagram"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="icon-link facebook" title="Facebook">
                        <i class="icon-facebook-circled"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="icon-link vkontakte" title="VKontakte">
                        <i class="icon-vkontakte"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row bg-light">
        <div class="col-sm">
            <p class="text-muted mb-0">
                <small>
                    &copy;
                    <a href="mailto:dmitryanufriev@gmail.com" class="text-muted">Dmitry Anufriev</a>
                    2017-2018
                </small>
            </p>
        </div>
    </div>
</div>
{% endblock %}