{% extends "base.html" %}

<!--  Content  -->
{% block content %}
<div class="container-fluid h-100">

    <!-- Home -->

    <div id="home" class="row h-100">
        <div class="col-sm blackout d-flex flex-column justify-content-between pt-4">

            <!-- Site title -->
            <div class="row">
                <div class="col-sm text-center">
                    <h1 class="site-title">Натяжные потолки от Жени</h1>
                </div>
            </div>

            <!-- Phone -->
            <div class="row">
                <div class="col-sm text-center">
                    <a href="tel:{{ phone | digits }}" class="phone">{{ phone }}</a>
                </div>
            </div>

            <!-- Back call -->
            <div class="row">
                <div class="col-sm text-center">
                    <button type="button" class="back-call btn btn-success btn-lg" @click="backCall('modalBackCall')">
                        <i class="icon-phone"></i>
                        Обратный звонок
                    </button>
                </div>
            </div>

            <!-- Navigation menu -->
            <div class="row">
                <div class="col-sm">
                    <ul class="nav-menu list-inline">
                        <li class="list-inline-item">
                            <a href="#about" class="nav-menu-link" @click="scrollToPage">Обо мне</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#portfolio" class="nav-menu-link" @click="scrollToPage">Мои работы</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#contacts" class="nav-menu-link" @click="scrollToPage">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- About -->
    <div id="about" class="row pt-4">
        <div class="col-md-3"></div>
        <div class="col-sm col-md-6">

            <!-- Page title -->
            <h3 class="mb-3">Обо мне</h3>

            <img class="mr-3 my-1 float-left" src="/public/images/experience_64x80.jpg" alt="Опыт">
            <h5 class="mt-0">Опыт</h5>
            <p>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                vulputate fringilla. Donec lacinia congue felis in faucibus.
            </p>
            <img class="mr-3 my-1 float-left" src="/public/images/resume_new.jpg" alt="Качество">
            <h5 class="mt-0">Качество</h5>
            <p>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                vulputate fringilla. Donec lacinia congue felis in faucibus.
            </p>
            <img class="mr-3 my-1 float-left" src="/public/images/price_64x73.jpg" alt="Доступность">
            <h5 class="mt-0">Доступность</h5>
            <p class="mb-0">
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                vulputate fringilla. Donec lacinia congue felis in faucibus.
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>

    <!-- Portfolio -->

    <div id="portfolio" class="row py-4">
        <div class="col-md-3"></div>
        <div class="col-sm col-md-6">

            <!-- Page title -->
            <h3 class="mb-3">Мои работы</h3>

            <!-- Photos carousel -->
            <div id="carouselPortfolio" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner bg-secondary rounded">
                    {% for image in images %}
                    <div class="carousel-item {{ 'active' if loop.first }}">
                        <img class="d-block mx-auto" src="{{ image.src }}">
                        <div class="view-on-instagram">
                            <a href="{{ image.href }}" target="_blank" title="Посмотреть в Instagram">
                                <i class="icon-instagram-2"></i>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselPortfolio" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Предыдущая</span>
                </a>
                <a class="carousel-control-next" href="#carouselPortfolio" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Следующая</span>
                </a>
            </div>

            <!-- Social share -->
            <div class="social-share d-flex align-items-center my-3">
                <span class="mr-3">Расскажите друзьям:</span>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <button class="btn-social-share facebook" title="на Facebook" @click="shareOnFacebook">
                            <i class="icon-facebook-rect"></i>
                        </button>
                    </li>
                    <li class="list-inline-item">
                        <button class="btn-social-share vkontakte" title="во ВКонтакте" @click="shareOnVk">
                            <i class="icon-vkontakte-rect"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <!-- Contacts -->

    <div id="contacts" class="row py-4 bg-light border border-right-0 border-left-0 border-bottom-0">
        <div class="col-md-3"></div>
        <div class="col-sm col-md-6">
            <div class="row">
                <div class="col-sm">
                    <!-- Page title -->
                    <h3 class="mb-3">Контакты</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="text-secondary">Звоните:</p>
                    <p class="mb-0">
                        <a href="tel:{{ phone | digits }}">{{ phone }}</a>
                    </p>
                    <ul class="messengers list-inline">
                        <li class="list-inline-item">
                            <a href="https://api.whatsapp.com/send?phone={{ phone | digits }}"
                               class="icon-link whatsapp"
                               title="Whatsapp">
                                <i class="icon-whatsapp"></i>
                            </a>
                            <a href="#" class="icon-link telegram" title="Telegram">
                                <i class="icon-telegram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 text-sm-right">
                    <p class="text-secondary">Пишите:</p>
                    <p>
                        <a href="mailto:{{ email }}">{{ email }}</a>
                    </p>
                    <p class="text-secondary">Подписывайтесь:</p>
                    <ul class="social-networks list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="{{ Instagram }}" target="_blank" class="icon-link instagram" title="Instagram">
                                <i class="icon-instagram-filled"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{ Facebook }}" target="_blank" class="icon-link facebook" title="Facebook">
                                <i class="icon-facebook-rect"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{ VKontakte }}" target="_blank" class="icon-link vkontakte" title="VKontakte">
                                <i class="icon-vkontakte-rect"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <!-- Copyright -->

    <div id="copyright" class="row bg-light">
        <div class="col-md-3"></div>
        <div class="col-sm col-md-6">
            <p class="text-muted mb-0">
                <small>
                    &copy;
                    <a href="mailto:dmitryanufriev@gmail.com" class="text-muted">Dmitry Anufriev</a>
                    2017-2018
                </small>
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>

    <!-- Back call modal -->

    {% raw %}
    <div id="modalBackCall" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalBackCallTitle">Обратный звонок</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form @submit="send" novalidate>
                        <div class="form-group">
                            <label for="phone">Номер телефона</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">+7</div>
                                </div>
                                <input id="phone" required maxlength="15"
                                       type="tel"
                                       class="form-control"
                                       data-inputmask="'mask': '(999) 9999999', 'showMaskOnHover': 'false'"
                                       placeholder="10 цифр"
                                       aria-describedby="phoneHelp"
                                       v-model="form.fields.phone"
                                       @blur="validatePhone"
                                       :class="{'is-invalid': form.errors.phone}">
                            </div>
                            <small v-if="!form.errors.phone" id="phoneHelp" class="form-text text-muted">
                                Номер телефона по которому мы Вам можем перезвонить.
                            </small>
                            <div v-if="form.errors.phone" class="invalid-feedback">
                                Пожалуйста, укажите 10 цифр номера телефона.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Контактное лицо</label>
                            <input id="name" maxlength="50"
                                   v-model="form.fields.name"
                                   type="text"
                                   class="form-control"
                                   placeholder="Как к Вам можно обращаться?">
                        </div>
                        <div class="form-group">
                            <label for="time">В какое время лучше перезвонить?</label>
                            <input id="time" maxlength="50"
                                   v-model="form.fields.time"
                                   type="text"
                                   data-inputmask="'mask': 'с 99:99 до 99:99', 'showMaskOnHover': 'false'"
                                   class="form-control"
                                   placeholder="Например, с 10:00 до 12:00"
                                   aria-describedby="timeHelp">
                            <small id="timeHelp" class="form-text text-muted">
                                Это поле можно оставить пустым и тогда администратор свяжется с Вами в ближайшее время.
                            </small>
                        </div>
                        <div class="submit d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary justify-self-center">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endraw %}

    <!-- Notification -->

    {% raw %}
    <div id="notification" class="alert"
         :class="{'show': visible, 'alert-success': type === 'success', 'alert-danger': type === 'error'}"
         role="alert">
        <h4 class="alert-heading" v-if="title">{{ title }}</h4>
        <p class="mb-2">{{ text }}</p>
        <button type="button" class="close" aria-label="Close" @click="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endraw %}

    <!-- To Top -->

    <div id="toTop" class="scroll-to-top" :class="{'visible': visible}">
        <a class="btn btn-primary btn-sm" href="#" role="button" @click="scrollToPage">Наверх</a>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script src="/public/scripts/scripts.min.js"></script>
{% endblock %}